*{
	margin: 0;
	padding: 0;
}

#header-nav{
	background-color: grey;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


h2{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 60px;
}

.lora{
	margin: 20px 20px 20px 20px;
	border-width: 2px;
	background-color: grey;
}

.lora>h1{
	text-align: center;
	font-size: 40px;
}

.lora p{
	font-size: 15px;
	margin-top: 30px;
	padding: 5px;
}

